#scheduleCanvas{
    /*CSS rule for displaying the canvas object */
	display:inline;
	border: 2px solid #000000;
}

#canvasImage{
    width:780px;
    height:730px;
}

#courseEntry{
	width:100%;
	height: 40px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#semesterSelection{

}

#courseEntry:focus{
	border: 2px solid #0097cf;
}

span.intro{
	font-size: 18px;
	font-weight: bold;
	text-transform:capitalize;
}

#imgUrlInfo{
	font-size:140%;
	font-weight: bold;
	text-transform: capitalize;
}

