#userSchedule{
	display: block;
	padding-top: 1em;
}

span.underline{
	display:inline;
	text-decoration: underline;
}

.plus-sign{
	font-size: 140%;
	color: #004A61;
    /* http://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
     * First we need to help some browsers along for this to work.
     * Just because a vendor prefix is there, doesn't mean it will
     * work in a browser made by that vendor either, it's just for
     * future-proofing purposes I guess. */
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      /* ...and now for the proper property */
      transition:.5s;    
}


div.individualSection{
	margin-top: 3px;
	padding: 4px;
	border: 2px solid #DCDCDC;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

div.individualSection span.heading{
	display: block;
	border: 2px solid #004A61;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
	background-color: #004A61;
	color: #F0F0F0;
	text-transform: uppercase;
	font-weight:bold;
}

#dummyHeader{
	-webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #428bca;
	font-size: 18px;
	padding: 2px;
}

span.row1, span.row2{
	font-weight:bold;
	text-transform:uppercase;
}

span.row1.right{
	float:left;
}

span.row1.left{
	float:right;
}

span.row1.left a{
	color: #004A61;
}

span.available{
	color:#008789;
	font-weight:bold;
}

span.full{
	color:#FC4349;
	font-weight:bold;
}

span.cancelled{
	color:#444444;
	font-weight:bold;
}

span.row2.right{
	float:left;
}

span.row2.left{
	float:right;
}

span.meetingTimes{
	display:block;
	width:100px;
	height: 100%;
	margin: 0 auto;

}

span.day{
	text-align:center;
	padding:2px;	
	margin:2px;
	border: 2px solid #004A61;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	letter-spacing:2px;
	/*text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
}

.hover{
	background-color:#004A61;
	color:#F0F0F0;
	font-weight:bold;
}

.panel-heading.available{
	color:#F0F0F0;
	background-color:#004A61;
}

.panel-heading.notavailable{
	color:#F0F0F0;
	background-color:#444444;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    behavior: url(http://apps.janeullah.com/assets/css/border-radius.htc);
    border-radius: 20px;
}

#removeAllButton{
	text-align:center;
	width:50%;
	font-weight:bold;
	margin: 0 auto;
	margin-top: 4px;
    /* http://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
     * First we need to help some browsers along for this to work.
     * Just because a vendor prefix is there, doesn't mean it will
     * work in a browser made by that vendor either, it's just for
     * future-proofing purposes I guess. */
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      /* ...and now for the proper property */
      transition:.5s;      
}

#removeAllButton:hover{	
    border: none;
    background:#004A61;
    color: #F0F0F0;
    box-shadow: 0px 3px 1px #777;
}

.checkboxes{
	margin-bottom:10px;
	font-size:100%;
	font-weight:bold;
	border: 2px dotted #f0f0f0;
}

.delete{
	color:#F0F0F0;
	margin-right:6px;
	margin-top:2px;
	font-size:140%;
    /* http://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
     * First we need to help some browsers along for this to work.
     * Just because a vendor prefix is there, doesn't mean it will
     * work in a browser made by that vendor either, it's just for
     * future-proofing purposes I guess. */
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      /* ...and now for the proper property */
      transition:.5s;      
}

#AvailableSpan{
	letter-spacing:2px;
	color:#004A61;
}

#FullSpan{
	letter-spacing:2px;
	color:#444444;
}

#CancelledSpan{
	letter-spacing:2px;
	color:#221414;
}

.glyphicon-remove:hover{
    color:#FC4349;
}

.glyphicon-plus:hover{
    color:#FC4349;
    font-size:22px;
}


div.filterDay{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    padding-top: 10px; 
}
